In [4]:
import pandas as pd

# 假设 df 是您的 DataFrame
# 以下是构建示例 DataFrame 的代码
data = {
    'CHR': ['Pp02', 'Pp02', 'Pp02', 'Pp02', 'Pp02'],
    'POS-1': ['02_27156', '02_27743', '02_28425', '02_28582', '02_29986'],
    'POS-2': [27156, 27743, 28425, 28582, 29986],
    'ref': ['G', 'G', 'T', 'C', 'T'],
    'alt': ['C', 'T', 'G', 'A', 'G'],
    'Male': ['GC', 'GG', 'GG', 'AA', 'GG'],
    'Female': ['GG', 'GT', 'TG', 'CA', 'TG'],
    # ... 更多个体数据
}
df = pd.DataFrame(data)

In [5]:
df

    CHR     POS-1  POS-2 ref alt Male Female
0  Pp02  02_27156  27156   G   C   GC     GG
1  Pp02  02_27743  27743   G   T   GG     GT
2  Pp02  02_28425  28425   T   G   GG     TG
3  Pp02  02_28582  28582   C   A   AA     CA
4  Pp02  02_29986  29986   T   G   GG     TG

In [9]:

# 定义一个函数来替换值
def replace_values(row):
    ref = row['ref']
    alt = row['alt']
    for col in df.columns[5:]:
        if row[col] == ref*2:
            row[col] = 'A'
        elif row[col] == alt*2:
            row[col] = 'B'
        else:
            row[col] = 'H'
    return row

# 应用函数到 DataFrame
df = df.apply(replace_values, axis=1)

In [10]:
df

    CHR     POS-1  POS-2 ref alt Male Female
0  Pp02  02_27156  27156   G   C    H      H
1  Pp02  02_27743  27743   G   T    A      H
2  Pp02  02_28425  28425   T   G    B      H
3  Pp02  02_28582  28582   C   A    B      H
4  Pp02  02_29986  29986   T   G    B      H

In [ ]:
import pandas as pd

# 指定文件的路径
file_path = 'E:\\My_python_work\\Input_examples.xlsx'

# 读取 Excel 文件
try:
    df = pd.read_excel(file_path)
except Exception as e:
    print(f"无法加载文件: {e}")
    raise

# 定义一个函数来替换值
def replace_values(row):
    ref = row['ref']
    alt = row['alt']
    for col in df.columns[5:]:
        if row[col] == ref * 2:
            row[col] = 'A'
        elif row[col] == alt * 2:
            row[col] = 'B'
        else:
            row[col] = 'H'
    return row

# 应用函数到 DataFrame
df = df.apply(replace_values, axis=1)

# 输出文件的路径（在原文件名后加上 '_processed'）
output_file_path = file_path.replace('.xlsx', '_processed.xlsx')

# 导出处理后的 DataFrame 到 Excel 文件
try:
    df.to_excel(output_file_path, index=False)
    print(f"文件已成功导出到: {output_file_path}")
except Exception as e:
    print(f"无法导出文件: {e}")